.headerGeneral{
    background-color: var(--blue);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 6.5rem;
} /*logo y iconos*/
.headerLogo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    height: 100%;
   
}
.headerLogo img{
    width: 100%;
    height: 70%;
}
.headerLogoIcon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 1.5rem;
}
.headerLogoIcon i{
    font-size: 1rem;
    color: var(--white);
    padding-top: 0.4rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
 /*box general de acceso*/
.headerBox{
    display: flex;
    flex-direction: row;
    width: 70%;

}
.headerBox .headerSubBox{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.headerBox .headerSubBox h3{
    color: var(--white);
    font-family: 'Poppins', sans-serif;  
    display: flex;
    justify-content: end;
}
.headerNave{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: end;

}
/*Buscador*/
.headerNave i{
    color: var(--white);
    padding: 0.4rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;

}
.headerSubNave{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1rem;
}
.headerSubNave hr{
    color: var(--white);
}
/*main*/
/*opciones generales home*/
.homeLiBox{
    width: 100%;
    display: flex;
    flex-direction: row;
    
}
.homeLi{
    width: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.homeLi li{
    font-family: var(--fontText);
    font-size: 0.9rem;
    font-weight: 600;
    color: black;

}
/*iconos fijos de la pagina*/
.iconCartHome{
   display: none;
}
.iconCartMenu{
    display: none;
 }


/**/
/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}
/* variables */
:root {
    /* Colors */
    --blue: #2d3450;
    --white:#fdfffe;
    --errorMessage: #ff0000;

    /* Fonts */
    --fontText: 'Poppins', sans-serif;
}